@page
@model EventsApp.Pages.Admin.Events.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменить</h1>

<h4>Событие</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.EventId" />
            <div class="form-group">
                <label asp-for="Event.EventName" class="control-label"></label>
                <input asp-for="Event.EventName" class="form-control" />
                <span asp-validation-for="Event.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Category" class="control-label"></label>
                <input asp-for="Event.Category" class="form-control" />
                <span asp-validation-for="Event.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventText" class="control-label"></label>
                <input asp-for="Event.EventText" class="form-control" />
                <span asp-validation-for="Event.EventText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventTime" class="control-label"></label>
                <input asp-for="Event.EventTime" class="form-control" />
                <span asp-validation-for="Event.EventTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к списку</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
