<!DOCTYPE html>
<html>
<head>
    <title>Пользователь</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>    
    <div class="m-2">
        @RenderBody()
    </div>
    <a class="btn btn-secondary" asp-action="Index"
       asp-controller="Home" asp-route-category="">На главную</a>
</body>
</html>
