@page

<h4 class="bg-danger text-white text-center p-2">Внимание</h4>

<div class="m-2">
    <h6>Вы не авторизованы для этого URL</h6>
    <a class="btn btn-outline-danger" href="/">OK</a>
    <a class="btn btn-outline-secondary" asp-page="Logout">Выйти</a>
</div>
