@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EventsApp</title>
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="/" @if (User.IsInRole("Admins"))
                {
                    <text> style="color:Red;" </text>
                }
                @if (signInManager.IsSignedIn(User))
                {
                    <text> style="color:MediumSeaGreen;" </text>
                }>РЕГИСТРАЦИЯ НА СОБЫТИЯ</a>
                <div class="navbar-nav ms-auto">
                    <partial name="_UserPartial"></partial>
                </div>
                @* <div class="navbar navbar-dark navbar-expand-md">>
                <partial name="_UserPartial"></partial>
                </div> *@
            </nav> 
        </div>
    </header>
    <main class ="flex-grow-1">
        <div class="row m-1 p-1">
            <h2 class="text-center">Предстоящие мероприятия</h2>
            <div id="categories" class="col-3">
                <div class="d-grid gap-2">
                    <vc:navigation-menu />
                </div>
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
        </div>
        <div class="row m-1 p-1">
            <h2 class="text-center">Поздравляем победителей!</h2>
        <div class="col-3">
              <vc:top-category/>
            </div>
        <div class="col-9">
           
            <vc:list-of-winners />
        </div>
        </div>
    </main>
    <footer>
        <div class="navbar navbar-dark navbar-expand-md bg-dark">
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link" href="http://www.facebook.com">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <a class="nav-item nav-link" href="http://www.vk.com">
                    <i class="fab fa-vk fa-2x"></i>
                </a>
                <a class="nav-item nav-link" href="http://www.twitter.com">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>